extends nav_layout

block content
  div.container
    div.row
      ul.collection
        each playlist in playlists
          +playlist(playlist)
    
        
mixin playlist(playlist)
  li.collection-item
    a(href="/playlist/" + playlist._id) #{playlist.name}
