extends nav_layout

block content
  div.container
    form(name="create", action="playlist/create", method="post")
    form.col.s12
      div.row.valign-wrapper
        div.input-field.col.s10
          input(placeholder="CREATE A PLAYLIST" id="name" class="validate")
        div.col.s2
          button.btn(type="submit" name="actions") Create
    div.row
      ul.collection
        each playlist in playlists
          +playlist(playlist)
        
mixin playlist(playlist)
  li.collection-item
    a(href="/playlist/" + playlist._id) #{playlist.name}
