extends nav_layout

block content
  div.container.std-margins
    //- form(name="create", action="playlist/create", method="post")
    form.col.s12
      div.row.valign-wrapper
        div.input-field.col.s10
          input(placeholder="CREATE A PLAYLIST" id="name" class="validate")
        div.col.s2
          button.btn(type="submit" name="actions") Create
      
    //- div.row
    //-   div.col.s8.offset-s2
    //-     a.btn Browse Playlists
    //-       i.material-icons.right send  
    div.row
      div.col.s8.offset-s2
        ul.collection
          each playlist in playlists
            +playlist(playlist)
        
mixin playlist(playlist)
  li.collection-item
    a(href="/playlist/" + playlist._id) #{playlist.name}
    //- div.row
    //-   div.col.s8.offset-s2
    //-     a.btn Load a playlist by id
    //-       i.material-icons.right send
    //- a.button
    //- ul
    //-   each val in playlists
    //-     li 
    //-       a(href='/playlist/'+val._id) #{val.name}
