doctype html
html
head
  title= title
  link(rel="stylesheet", href='/stylesheets/style.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js")
  script(src="/socket.io/socket.io.js")

  <!-- Might want to make this script loading more dynamic so not loaded for all pages-->
  script(src="/javascripts/index.js")
  script(src="/javascripts/playlist.js")


body
  block header
  block content
