extends layout

block header
  div.navbar-fixed
    nav.blue-grey.darken-4
      div.nav-wrapper
        a.brand-logo.center(href="/") THUMP
        ul.right
          - if (session && session.username){
          li
            a.btn.modal-trigger(data-target="create-playlist") Create a new playlist
          -}
          - else{
          li
            a.btn.modal-trigger(data-target="create-account") Create Account
            a.btn.modal-trigger(data-target="login") Login
          -}

  div.modal#create-playlist
    div.modal-content
      form(name="createPlaylist", action="/playlist/create", method="post")
        div.container.createPlaylist
          div.row.valign-wrapper
            div.input-field.col.s10
              input(placeholder="CREATE A PLAYLIST" id="name" name="playlist_name")
            div.col.s2
              button.btn(type="submit" id="createPlaylistBtn" disabled="true") Create
            
  div.modal#create-account
    div.modal-content
      form(name="createUser", action="/user/create", method="post")
        div.container.createUser
          div.row.valign-wrapper
            div.input-field.col.s12
              input(placeholder="UserName" id="userName" name="userName")
          div.row.valign-wrapper
            div.input-field.col.s10
              input(type="password" placeholder="Password" id="password" name="password")
            div.input-field.col.s10
              input(type="password" placeholder="Re-enter Password" id="validate" name="validate")
            div.col.s2
              button.btn(type="submit" id="createUserBtn" disabled="true") Create

  div.modal#login
    div.modal-content
      form(name="login", action="/user/login", method="post")
        div.container.login
          div.row.valign-wrapper
            div.input-field.col.s12
              input(placeholder="UserName" id="userName" name="userName")
          div.row.valign-wrapper
            div.input-field.col.s10
              input(type="password" placeholder="Password" id="password" name="password")
            div.col.s2
              button.btn(type="submit") Login
