extends layout

block content
  div.std-margins
    div.row
      div.col.s4
        div.row
          ul
            each song, index in playlist.items
              +song(song, index)
      div.col.s8
        div.center(id="player", data-vid_id=playlist.items[0].id)
    
                    
mixin song(song, index)
  -if (index != 0)
    div.card-panel.small.blue-grey
      div.row.valign-wrapper
        div.col.s2
          - var thumbnailUrl = "http://img.youtube.com/vi/" + song.id + "/default.jpg"
          img.responsive-img(src=thumbnailUrl)
        div.col.s8
          span.black-text
            h5= song.name
        div.col.s2
          div.row
            button(id="like" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_up
          div.row
            button(id="dislike" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_down
