extends nav_layout

block content
  div.row
    div.col.s4
      div.card
        div.card-content#searchBox.scrollable(style={height: "200px"})
          div.input-field
            input(placeholder="Search for songs" id="search" type="search")
            i.material-icons.right search
      - if (typeof(playlist) !== 'undefined' && playlist.length > 1){
        div.scrollable
          ul.collection.z-depth-1
            each song, index in playlist
              +song(song, index)
      -}
    div.col.s8
      div.center-align
        - if (typeof(playlist) !== 'undefined'){
          div(id="player", data-vid_id=playlist[0].items.id)
        -}

                    
mixin song(song, index)
  - var song = song.items
  -if (index != 0)
    li.collection-item.valign-wrapper#playlistItems
      div.col.s2
        - var thumbnailUrl = "http://img.youtube.com/vi/" + song.id + "/default.jpg"
        img#thumbnail.responsive-img(src=thumbnailUrl)
      div.col.s4
        p#songName= song.name
      div.col.s4.removeSearch
        p#vote_val= song.votes
      div.col.s2.removeSearch
        div.row
          button.btn-floating.green.darken-4.vote(id="like" data-playlist_id=playlist._id, data-song_id=song._id)
            i.material-icons thumb_up
        div.col.s2
          button.btn-floating.red.darken-4.vote(id="dislike" data-playlist_id=playlist._id, data-song_id=song._id)
            i.material-icons thumb_down
