extends layout

block content
	div.container.std-margins
		//div(id='player')
		div.row.center
			div.video-container
				iframe(width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw")
				div#player
		div.row
