extends layout

block content
  div.container.std-margins
    div.row.center
      div(id="player", data-vid_id=playlist.items[0].id)
    div.row
      ul
        each song, index in playlist.items
          +song(song, index)
                    
mixin song(song, index)
  -if (index != 0)
    div.card-panel.small
      div.row.valign-wrapper
        div.col.s2
          - var thumbnailUrl = "http://img.youtube.com/vi/" + song.id + "/default.jpg"
          img.responsive-img(src=thumbnailUrl)
        div.col.s8
          span.black-text
            h5= song.name
        div.col.s2
          div.row
            button(id="like" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_up
          div.row
            button(id="dislike" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_down
