extends layout

block content
  div.container.std-margins
    div.row.center
      div(id="player", data-vid_id=playlist.items[0].id)
    div.row
    ul
      each song,index in playlist.items
        -if (index != 0)
          li= song.name
            button(id="like", data-playlist_id=playlist._id, data-song_id=song._id)
            i.material-icons.right
          - var thumbnailUrl = "http://img.youtube.com/vi/" + song.id + "/default.jpg"
          img(src=thumbnailUrl)
