extends layout

block content
  div.row
    div.col.s4
      ul
        each song, index in playlist.items
          +song(song, index)
    div.col.s8
      div.center-align
        div(id="player", data-vid_id=playlist.items[0].id)
        div.input-field
          input(id="search" type="search" required)
          label(for="search")
            i.material-icons search
          i.material-icons close

                    
mixin song(song, index)
  -if (index != 0)
    div.card-panel.small.blue-grey
      div.row.valign-wrapper
        div.col.s2
          - var thumbnailUrl = "http://img.youtube.com/vi/" + song.id + "/default.jpg"
          img.responsive-img(src=thumbnailUrl)
        div.col.s4
          p= song.name
        div.col.s4
          p= song.votes
        div.col.s2
          div.row
            button(id="like" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_up
          div.row
            button(id="dislike" data-playlist_id=playlist._id, data-song_id=song._id)
              i.material-icons thumb_down
