body {
  font-weight: 400;
  background-image: url("https://www.berklee.edu/sites/default/files/Berklee-Headphones_SLIDER_07-06-15.jpg");
  background-size: cover;
}

nav {
  font-weight: 200;
  letter-spacing: 1px;
}

#player-container {
  position: absolute;
  top: 50%;
  transform: translate(15%,-50%);
}

.scrollable {
  overflow-y: scroll;
}
