body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://www.berklee.edu/sites/default/files/Berklee-Headphones_SLIDER_07-06-15.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

.std-margins {
  position: absolute;
  left: 10%;
  right: 10%;
}
